{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generer un Document ! </title>
    <style>
         body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
        }
       h2 {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>
        
        </p>
        <h1 style="text-align:center">{{lLettre.typelettre.nom}}</h1>
        <p>
        <span style="font-size: 16px; font-weight: bold;">Objet: {{lLettre.typelettre.nom}}</span>
        <br><br><br>
        <i style="padding-left:5px;">Madame l’Inspectrice Générale,</i><br>
            Dans le cadre de l’assainissement de fichiers de gestion Administrative et salariale des Agents de la Fonction Publique,
            je vous confirme que le titulaire du Matricule : <b>{{lLettre.personnel.matricule}}</b> est bel et bien Monsieur {{lLettre.personnel.nom}} {{lLettre.personnel.prenom}} {{lLettre.personnel.statut.nom}} au
            Département de Biologie de la {{lLettre.personnel.categorie.nomcategorie}}de l’Université Gamal Abdel Nasser de Conakry.                                                                                                                       
            Par conséquent, je vous saurais gré des dispositions que vous voudriez bien faire prendre par vos
            services techniques afin de diligenter le traitement du dossier de l’intéressé.
            Vous en souhaitant bonne réception, veuillez croire, Madame l’Inspectrice Générale, l’assurance de ma franche collaboration.                                    
        </p>
        <h2 class="w3-right">Mme CAMARA Rougui</h2>
    </div>
</body>
</html>